/* 

legend 

*/

[class^="zicon-"], [class*=" zicon-"], table a.qr {
 display: inline-block;
 width: 14px;
 height: 14px;
 margin-top: 1px;
 *margin-right: .3em;
 line-height: 14px;
 vertical-align: text-top;
 background-position: 14px 14px;
 background-repeat: no-repeat;
 background-image: url(../img/others/glyph.png);
 margin: 0px 5px 0px 0px;
}
i.zicon-active {
	background-position: -60px 0px;
}
i.zicon-disactive {
	background-position: -140px 0px;
}
i.zicon-suspended {
	background-position: -120px 0px;
}
i.zicon-draft {
	background-position: -80px 0px;
}

i.zicon-create {
	background-position: -60px -182px;
	margin:0px;
}

i.zicon-info {
	background-position: -99px -180px;
	margin:0px;
}
